.contacts {
  color: #444444;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial";
}
.contacts .invite {
  font-size: 16px;
  line-height: 18px;
  color: #111111;
  font-family: "Oswald";
  text-transform: uppercase;
}
