@media (min-width: 1260px) {
  .slim-pro {
    display: flex;
    justify-content: space-between;
  }
}
.slim {
  color: #444444;
  font-family: "Arial";
  padding: 20px;
  margin: 20px 0;
  margin-right: 20px;
  min-height: 230px;
  background-color: #F2F2F2;
  outline: 1px solid #ecde12;
  outline-offset: -1px;
}
.slim .title {
  font-size: 24px;
  line-height: 37px;
  padding-left: 20px;
  padding-top: 7px;
  color: #000000;
  font-family: "Oswald";
  text-transform: uppercase;
}
.slim .link {
  display: flex;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  font-family: "Oswald";
  text-transform: uppercase;
}
.slim .link a {
  padding-right: 15px;
}
.slim .catBlack {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
  outline: 1px solid #2812ec;
  outline-offset: -1px;
}
.slim .wrapper {
  min-height: 96px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 20px;
  font-family: "Arial";
  outline: 1px solid #2812ec;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .slim {
    min-height: 240px;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 77px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 57px;
  }
  .slim .title {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }
  .slim .wrapper {
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial";
    text-align: left;
    width: 377px;
    height: 96px;
    margin-bottom: 52px;
  }
  .slim .catBlack {
    margin-bottom: 24px;
  }
  .slim .catBlack .background-cat1 {
    display: block;
    position: absolute;
    width: 200px;
    height: 211px;
    padding-right: 28px;
    right: 62px;
    top: 1035px;
    z-index: 1;
    background: url(/source/img/cat_back1_tablet.svg) no-repeat;
  }
  .slim .catBlack img {
    display: none;
  }
  .slim .link {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1260px) {
  .slim {
    width: 466px;
    max-height: 374px;
    padding-top: 41px;
    padding-bottom: 59px;
  }
  .slim .catBlack {
    margin-bottom: 39px;
  }
  .slim .catBlack .background-cat1 {
    opacity: 0;
  }
  .slim .catBlack .slim-catBlack {
    width: 100px;
    height: 106px;
    padding-right: 62px;
    background: url(/source/img/cat_back1_desktop.svg) no-repeat;
  }
  .slim .catBlack .title {
    padding-top: 32px;
  }
}
.pro {
  color: #444444;
  font-family: "Arial";
  padding: 20px;
  margin: 20px 0;
  margin-right: 20px;
  min-height: 230px;
  background-color: #F2F2F2;
  outline: 1px solid #ecde12;
  outline: 1px solid #ecb212;
  outline-offset: -1px;
}
.pro .title {
  font-size: 24px;
  line-height: 37px;
  padding-left: 20px;
  padding-top: 7px;
  color: #000000;
  font-family: "Oswald";
  text-transform: uppercase;
}
.pro .link {
  display: flex;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  font-family: "Oswald";
  text-transform: uppercase;
}
.pro .link a {
  padding-right: 15px;
}
.pro .catBlack {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
  outline: 1px solid #2812ec;
  outline-offset: -1px;
}
.pro .wrapper {
  min-height: 96px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 20px;
  font-family: "Arial";
  outline: 1px solid #2812ec;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .pro {
    min-height: 240px;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 77px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 57px;
  }
  .pro .title {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }
  .pro .wrapper {
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial";
    text-align: left;
    width: 377px;
    height: 96px;
    margin-bottom: 52px;
  }
  .pro .catBlack {
    margin-bottom: 24px;
  }
  .pro .catBlack .background-cat1 {
    display: block;
    position: absolute;
    width: 200px;
    height: 211px;
    padding-right: 28px;
    right: 62px;
    top: 1035px;
    z-index: 1;
    background: url(/source/img/cat_back1_tablet.svg) no-repeat;
  }
  .pro .catBlack img {
    display: none;
  }
  .pro .link {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1260px) {
  .pro {
    width: 466px;
    max-height: 374px;
    padding-top: 41px;
    padding-bottom: 59px;
  }
  .pro .catBlack {
    margin-bottom: 39px;
  }
  .pro .catBlack .background-cat1 {
    opacity: 0;
  }
  .pro .catBlack .slim-catBlack {
    width: 100px;
    height: 106px;
    padding-right: 62px;
    background: url(/source/img/cat_back1_desktop.svg) no-repeat;
  }
  .pro .catBlack .title {
    padding-top: 32px;
  }
}
@media (min-width: 748px) {
  .pro .wrapper {
    width: 342px;
  }
  .pro .catBlack .background-cat2 {
    display: block;
    position: absolute;
    width: 268px;
    height: 200px;
    padding-right: 28px;
    right: 28px;
    top: 1450px;
    background: url(/source/img/cat_back2_tablet.svg) no-repeat;
  }
  .pro .catBlack img {
    display: none;
  }
}
@media (min-width: 1260px) {
  .pro {
    max-width: 570px;
    max-height: 374px;
    padding-top: 47px;
  }
  .pro .catBlack {
    margin-bottom: 39px;
  }
  .pro .catBlack .background-cat2 {
    opacity: 0;
  }
  .pro .catBlack .pro-catBlack {
    width: 134px;
    height: 100px;
    padding-right: 47px;
    background: url(/source/img/cat_back2_desktop.svg) no-repeat;
  }
  .pro .catBlack .title {
    padding-top: 32px;
  }
}
