@black: #000000;
@dark-grey2: #222222;
@dark-grey: #444444;
@font:  "Oswald";

@tablet-width: 748px;
@desktop-width: 1260px;
@mobile-width-only: 747px;

.slim-pro {
    @media (min-width: @desktop-width){
        display: flex;
        justify-content: space-between;
    }    
}

.slim {
    color: @dark-grey;
    font-family: "Arial";
    padding: 20px;
    margin: 20px 0;
    margin-right: 20px;
    min-height: 230px;
    background-color: #F2F2F2;

    & .title {
        font-size: 24px;
        line-height: 37px;
        padding-left: 20px;
        padding-top: 7px;
        color: @black;
        font-family: @font;
        text-transform: uppercase;
    }
    
    & .link {
        display: flex;
        font-size: 16px;
        line-height: 16px;
        color: @black;
        font-family: @font;
        text-transform: uppercase;

        a {
            padding-right: 15px;
        }
    }

    .catBlack {
        display: flex;
        text-align: center;
        margin-bottom: 30px;

        outline: 1px solid rgb(40, 18, 236);
        outline-offset: -1px;
    }

    .wrapper {
        min-height: 96px;
        border-bottom: 1px solid #D9D9D9;
        margin-bottom: 20px;
        font-family: "Arial";

        outline: 1px solid rgb(40, 18, 236);
        outline-offset: -1px;
    }

    @media (min-width: @tablet-width) {
        min-height: 240px;
        margin: 0;
        margin-bottom: 30px;
        padding-top: 77px;
        padding-left: 52px;
        padding-right: 52px;
        padding-bottom: 57px;

        .title {
            padding: 0;
            font-size: 36px;
            line-height: 36px;
        }

        .wrapper {
            font-size: 16px;
            line-height: 24px;
            font-family: "Arial";
            text-align: left;
            width: 377px;
            height: 96px;
            margin-bottom: 52px;
        }

        .catBlack {
            margin-bottom: 24px;
            
            .background-cat1 {
                display: block;
                position: absolute;
                width: 200px;
                height: 211px;
                padding-right: 28px;
                right: 62px;
                top: 1035px;
                z-index: 1;
                background: url(/source/img/cat_back1_tablet.svg) no-repeat;
            }
            img {
                display: none;
            }
        }

        .link {
            font-size: 20px;
            line-height: 30px;
        }
    }

    @media (min-width: @desktop-width){
        width: 466px;
        max-height: 374px;
        padding-top: 41px;
        padding-bottom: 59px;

        .catBlack {
            margin-bottom: 39px;
            .background-cat1 {
                opacity: 0;
            }
            .slim-catBlack {
                width: 100px;
                height: 106px;
                padding-right: 62px;
                background: url(/source/img/cat_back1_desktop.svg) no-repeat;
            }
            
            .title {
                padding-top: 32px;
            }
        }
    }

    outline: 1px solid rgb(236, 222, 18);
    outline-offset: -1px;
}

.pro {
    .slim;

    @media (min-width: @tablet-width) {
        .wrapper {
            width: 342px;
        }

        .catBlack {
            .background-cat2 {
                display: block;
                position: absolute;
                width: 268px;
                height: 200px;
                padding-right: 28px;
                right: 28px;
                top: 1450px;
                background: url(/source/img/cat_back2_tablet.svg) no-repeat;
            }
            img {
                display: none;
            }
        }
    }

    @media (min-width: @desktop-width){
        max-width: 570px;
        max-height: 374px;
        padding-top: 47px;

        .catBlack {
            margin-bottom: 39px;
            .background-cat2 {
                opacity: 0;
            }
            .pro-catBlack {
                width: 134px;
                height: 100px;
                padding-right: 47px;
                background: url(/source/img/cat_back2_desktop.svg) no-repeat;
            }
            
            .title {
                padding-top: 32px;
            }
        }
    }

    outline: 1px solid rgb(236, 178, 18);
    outline-offset: -1px;
}