.promo {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-family: "Oswald";
}
.promo .title {
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}
