.catalog {
  color: #444444;
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
}
.catalog .title {
  color: #000000;
  font-family: "Oswald";
  font-size: 36px;
  line-height: 36px;
}
.catalog .info1 {
  color: #222222;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.catalog .text {
  color: #222222;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.catalog .more-button {
  color: #444444;
  background-color: #f2f2f2;
}
.catalog-add .title {
  color: #000000;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
}
.catalog-add .product {
  color: #222222;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.catalog-add .text {
  color: #444444;
  font-family: "Arial";
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
}
.catalog-add .gift-text {
  color: #ffffff;
  font-family: "Arial";
  font-size: 16px;
  line-height: 20px;
}
