.promo {
  color: #ffffff;
  font-family: "Oswald";
  outline: 1px solid #a735b6;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .promo {
    display: flex;
    flex-flow: column wrap;
    margin-left: 90px;
  }
  .promo .div:nth-child(3) {
    order: 3;
  }
  .promo .background {
    display: none;
  }
}
.promo .promo-title {
  display: block;
  font-size: 36px;
  line-height: 36px;
  width: 250px;
  height: 72px;
  text-align: center;
  text-transform: none;
  margin-top: -277px;
  margin-left: 35px;
  margin-bottom: 27px;
  outline: 1px solid #ecde12;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .promo .promo-title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    width: 414px;
    height: 120px;
    text-align: left;
    margin: 0;
    margin-top: 60px;
  }
  .promo .promo-title .background {
    visibility: hidden;
  }
}
.promo .promo-text {
  display: block;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  width: 198px;
  margin-left: 60px;
  margin-bottom: 27px;
  outline: 1px solid #ec8612;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .promo .promo-text {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    width: 283px;
    height: 20px;
    margin-left: 90px;
    margin: 45px 0;
  }
  .promo .promo-text .background {
    visibility: hidden;
  }
}
