@black: #000000;
@font:  "Oswald";

@tablet-width: 748px;
@desktop-width: 1260px;
@mobile-width-only: 747px;

.promo {
    color: #ffffff;
    font-family: "Oswald";
    text-align: center;

    outline: 1px solid rgb(167, 53, 182);
    outline-offset: -1px;

    @media (min-width: @tablet-width) {
        text-align: left;

        .background {
            display: none;
        }

        img{
            opacity: 0;
        }
        .promo-pack {
            display: block;
            width: 709px;
            height: 609px;
            right: 330px;
            top: 143px;
            z-index: 0;
            background: url(/source/img/index-can-tablet\ 1.svg) no-repeat;
        }
    }

    @media (min-width: @desktop-width) {
        text-align: left;
        min-height: 585px;

        .background {
            display: block;
            position: absolute;
            width: 720px;
            height: 696px;
            right: 0;
            top: 0;
            z-index: -1;
            background: url(/source/img/index-background-desktop.svg) no-repeat;
        }

        img{
            opacity: 0;
        }
        .promo-pack {
            display: block;
            position: absolute;
            width: 552px;
            height: 499px;
            text-align: center;
            background: url(/source/img/index-can.svg) no-repeat;
        }
    }

    .promo-title {
        position: relative;
        font-size: 36px;
        line-height: 36px;
        text-transform: none;
        margin-top: -277px;
        margin-bottom: 27px;
        

        @media (min-width: @tablet-width) {
            color: @black;
            font-size: 60px;
            line-height: 60px;
            height: 120px;
            margin-top: 60px;
            margin-left: 80px;
        }

        @media (min-width: @desktop-width) {
            color: @black;
            font-size: 60px;
            line-height: 60px;
            height: 120px;
            margin-top: 114px;
            margin-left: 80px;
            z-index: 1;
        }

        outline: 1px solid rgb(236, 222, 18);
        outline-offset: -1px;
    }

    .promo-text {
        position: relative;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        margin-bottom: 27px;

        @media (min-width: @tablet-width) {
            color: @black;
            font-size: 20px;
            line-height: 20px;
            margin-left: 80px;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        @media (min-width: @desktop-width) {
            margin-left: 80px;
        }

        outline: 1px solid rgb(236, 134, 18);
        outline-offset: -1px;
    }

    .promo-toggle {
        @media (min-width: @tablet-width) {
            display: inline-block;
            position: absolute;
            margin: 0;
            margin-top: -580px;
            margin-left: 80px;
            font-size: 20px;
            font-weight: 20px;
            width: 244px;
            height: 54px;
        }

        @media (min-width: @desktop-width) {
            position: relative;
            font-size: 20px;
            font-weight: 20px;
            width: 244px;
            height: 54px;
            margin-top: 52px;
            margin-left: 80px;
        }
    }
}