.promo {
  color: #ffffff;
  font-family: "Oswald";
  text-align: center;
  outline: 1px solid #a735b6;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .promo {
    text-align: left;
  }
  .promo .background {
    display: none;
  }
  .promo img {
    opacity: 0;
  }
  .promo .promo-pack {
    width: 709px;
    height: 609px;
    text-align: center;
    background: url(/source/img/index-can-tablet\ 1.svg) no-repeat;
  }
}
@media (min-width: 1260px) {
  .promo {
    text-align: left;
  }
  .promo .background {
    display: block;
  }
  .promo img {
    opacity: 0;
  }
  .promo .promo-pack {
    width: 552px;
    height: 499px;
    text-align: center;
    background: url(/source/img/index-can.svg) no-repeat;
  }
}
.promo .promo-title {
  position: relative;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  margin-top: -277px;
  margin-bottom: 27px;
  outline: 1px solid #ecde12;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .promo .promo-title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    height: 120px;
    margin-top: 60px;
    margin-left: 90px;
  }
}
.promo .promo-text {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 27px;
  outline: 1px solid #ec8612;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .promo .promo-text {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-left: 90px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
@media (min-width: 748px) {
  .promo .promo-toggle {
    display: block;
    position: absolute;
    margin: 0;
    margin-top: -580px;
    margin-left: 85px;
  }
}
