@black: #000000;
@font:  "Oswald";

@tablet-width: 748px;
@desktop-width: 1260px;
@mobile-width-only: 747px;

.promo {
    color: #ffffff;
    font-family: "Oswald";
    text-align: center;

    outline: 1px solid rgb(167, 53, 182);
    outline-offset: -1px;

    @media (min-width: @tablet-width) {
        text-align: left;

        .background {
            display: none;
        }

        img{
            opacity: 0;
        }
        .promo-pack {
            width: 709px;
            height: 609px;
            text-align: center;
            background: url(/source/img/index-can-tablet\ 1.svg) no-repeat;
        }
    }

    @media (min-width: @desktop-width) {
        text-align: left;

        .background {
            display: block;
        }
    }

    .promo-title {
        position: relative;
        font-size: 36px;
        line-height: 36px;
        text-transform: none;
        margin-top: -277px;
        margin-bottom: 27px;
        

        @media (min-width: @tablet-width) {
            color: @black;
            font-size: 60px;
            line-height: 60px;
            height: 120px;
            margin-top: 60px;
            margin-left: 90px;
        }

        outline: 1px solid rgb(236, 222, 18);
        outline-offset: -1px;
    }

    .promo-text {
        position: relative;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        margin-bottom: 27px;

        @media (min-width: @tablet-width) {
            color: @black;
            font-size: 20px;
            line-height: 20px;
            margin-left: 90px;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        outline: 1px solid rgb(236, 134, 18);
        outline-offset: -1px;
    }
}