@black: #000000;
@dark-grey2: #222222;
@dark-grey: #444444;
@font:  "Oswald";

@tablet-width: 748px;
@desktop-width: 1260px;
@mobile-width-only: 747px;

.advantages {
    color: @dark-grey;
    font-family: "Arial";

    & .title {
        margin-top: 27px;
        margin-bottom: 38px;
        font-size: 36px;
        line-height: 40px;
        color: @black;
        font-family: @font;
        text-align: left;
    }

    .block {
        display: flex;
        align-items: center;
        min-height: 60px;
        text-align: left;
        margin-bottom: 20px;

        img {
            padding-right: 20px;
        }


        outline: 1px solid rgb(40, 18, 236);
        outline-offset: -1px;
    }

    .advantages-block {
        margin-right: 20px;

        .advantages-number {
            display: none;
        }

        outline: 1px solid rgb(236, 25, 18);
        outline-offset: -1px;
    }

    @media (min-width: @tablet-width) {
        .title {
            margin-top: 45px;
            margin-bottom: 32px;
            padding: 0;
            font-size: 60px;
            line-height: 60px;
            color: @black;
            font-family: @font;
            text-align: left;
        }

        .advantages-block {
            display: grid;
            width: 629px;
            height: 597px;
            grid-template-columns: 1fr 1fr;
            row-gap: 37px;
            font-size: 16px;
            line-height: 24px;

            .block {
                display: flex;
                flex-direction: column;
                
                min-width: 230px;
                max-width: 250px;
                height: 280px;
                margin: 0px;
                
                img {
                    width: 80px;
                    height: 80px;
                }
            }
            
            .advantages-number {
                display: inline-block;
                font-size: 280px;
                line-height: 280px;
                color:  #F2F2F2;
                font-family: @font;
                text-align: right;

            }
        }

        
    }

    @media (min-width: @desktop-width){

    }
}
