.advantages {
  color: #444444;
  font-family: "Arial";
}
.advantages .title {
  margin-top: 27px;
  margin-bottom: 38px;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-family: "Oswald";
  text-align: left;
}
.advantages .block {
  display: flex;
  align-items: center;
  min-height: 60px;
  text-align: left;
  margin-bottom: 20px;
  outline: 1px solid #2812ec;
  outline-offset: -1px;
}
.advantages .block img {
  padding-right: 20px;
}
.advantages .advantages-block {
  margin-right: 20px;
  outline: 1px solid #ec1912;
  outline-offset: -1px;
}
.advantages .advantages-block .advantages-number {
  display: none;
}
@media (min-width: 748px) {
  .advantages .title {
    margin-top: 45px;
    margin-bottom: 32px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    font-family: "Oswald";
    text-align: left;
  }
  .advantages .advantages-block {
    display: grid;
    width: 629px;
    height: 597px;
    grid-template-columns: 1fr 2fr;
    align-content: space-between;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0;
  }
  .advantages .advantages-block .block {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .advantages .advantages-block .block img {
    width: 80px;
    height: 80px;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 31px;
    float: left;
  }
  .advantages .advantages-block .advantages-number {
    position: relative;
    display: block;
    font-size: 280px;
    line-height: 280px;
    color: #F2F2F2;
    font-family: "Oswald";
    text-align: right;
    right: 0;
  }
}
