@import "header.less";


body {
    margin: 20px;
    padding: 0;

    font-family: "Oswald", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    background-color: #ec3838;
}

/* .page-main__example-catAfter { */
.visually-hidden {
    display: none;
}

a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
}

li {
    list-style: none;
}