@import "header.less";
@import "promo.less";
@import "info.less";
@import "example.less";
@import "address.less";
@import "footer.less";


@dark-grey: #444444;
@black: #000000;
@font:  "Oswald";


body {
    margin: 20px;
    padding: 0;

    font-family: "Oswald", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    background-color: #abc0a5;
}

/* .page-main__example-catAfter { */
.visually-hidden {
    display: none;
}

a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

.button {
    color: #ffffff;
    font-family: "Oswald";
    text-transform: uppercase;
    background-color: #5EAA2F;
    padding: 10px 90px;
}