.header {
  outline: 1px solid #a0eb15;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 52px;
  }
}
@media (min-width: 1260px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 59px;
  }
}
.header .header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  width: auto;
  padding: 0 20px;
  outline: 1px solid #3700ff;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .header .header_wrapper {
    height: 52px;
    width: 174px;
    padding: 0;
    background: url(/source/img/logo_tablet.svg) no-repeat;
  }
  .header .header_wrapper img {
    opacity: 0;
  }
}
@media (min-width: 1260px) {
  .header .header_wrapper {
    height: 59px;
    width: 202px;
    background: url(/source/img/logo_desktop.svg) no-repeat;
  }
}
.main-nav {
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Oswald";
  text-transform: uppercase;
}
.main-nav .main-nav_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 198px;
  padding: 0 20px;
  margin-top: 18px;
  outline: 1px solid red;
  outline-offset: -1px;
}
.main-nav .main-nav_wrapper .site-list {
  padding: 0;
  margin: 0 auto;
}
.main-nav .main-nav_wrapper .site-list .item {
  padding-top: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E6E6E6;
}
@media (min-width: 748px) {
  .main-nav .main-nav_wrapper {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding: 0;
    padding-top: 16px;
    height: 36px;
  }
  .main-nav .main-nav_wrapper .site-list {
    display: flex;
    justify-content: space-between;
    min-width: 440px;
  }
  .main-nav .main-nav_wrapper .site-list .item {
    padding: 0;
    border-bottom: none;
  }
}
@media (min-width: 1260px) {
  .main-nav .main-nav_wrapper {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding: 0;
    height: 40px;
    color: white;
  }
  .main-nav .main-nav_wrapper .site-list {
    display: flex;
    justify-content: space-between;
    min-width: 478px;
  }
  .main-nav .main-nav_wrapper .site-list a {
    color: #ffffff;
  }
}
.promo {
  color: #ffffff;
  font-family: "Oswald";
  text-align: center;
  outline: 1px solid #a735b6;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .promo {
    text-align: left;
  }
  .promo .background {
    display: none;
  }
  .promo img {
    opacity: 0;
  }
  .promo .promo-pack {
    display: block;
    width: 709px;
    height: 609px;
    right: 330px;
    top: 143px;
    z-index: 0;
    background: url(/source/img/index-can-tablet\ 1.svg) no-repeat;
  }
}
@media (min-width: 1260px) {
  .promo {
    text-align: left;
    min-height: 585px;
  }
  .promo .background {
    display: block;
    position: absolute;
    width: 720px;
    height: 696px;
    right: 0;
    top: 0;
    z-index: -1;
    background: url(/source/img/index-background-desktop.svg) no-repeat;
  }
  .promo img {
    opacity: 0;
  }
  .promo .promo-pack {
    display: block;
    position: absolute;
    width: 552px;
    height: 499px;
    text-align: center;
    background: url(/source/img/index-can.svg) no-repeat;
  }
}
.promo .promo-title {
  position: relative;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  margin-top: -277px;
  margin-bottom: 27px;
  outline: 1px solid #ecde12;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .promo .promo-title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    height: 120px;
    margin-top: 60px;
    margin-left: 80px;
  }
}
@media (min-width: 1260px) {
  .promo .promo-title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    height: 120px;
    margin-top: 114px;
    margin-left: 80px;
    z-index: 1;
  }
}
.promo .promo-text {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 27px;
  outline: 1px solid #ec8612;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .promo .promo-text {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1260px) {
  .promo .promo-text {
    margin-left: 80px;
  }
}
@media (min-width: 748px) {
  .promo .promo-toggle {
    display: inline-block;
    position: absolute;
    margin: 0;
    margin-top: -580px;
    margin-left: 80px;
    font-size: 20px;
    font-weight: 20px;
    width: 244px;
    height: 54px;
  }
}
@media (min-width: 1260px) {
  .promo .promo-toggle {
    position: relative;
    font-size: 20px;
    font-weight: 20px;
    width: 244px;
    height: 54px;
    margin-top: 52px;
    margin-left: 80px;
  }
}
@media (min-width: 1260px) {
  .slim-pro {
    display: flex;
    justify-content: space-between;
  }
}
.slim {
  color: #444444;
  font-family: "Arial";
  padding: 20px;
  margin: 20px 0;
  margin-right: 20px;
  min-height: 230px;
  background-color: #F2F2F2;
  outline: 1px solid #ecde12;
  outline-offset: -1px;
}
.slim .title {
  font-size: 24px;
  line-height: 37px;
  padding-left: 20px;
  padding-top: 7px;
  color: #000000;
  font-family: "Oswald";
  text-transform: uppercase;
}
.slim .link {
  display: flex;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  font-family: "Oswald";
  text-transform: uppercase;
}
.slim .link a {
  padding-right: 15px;
}
.slim .catBlack {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
  outline: 1px solid #2812ec;
  outline-offset: -1px;
}
.slim .wrapper {
  min-height: 96px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 20px;
  font-family: "Arial";
  outline: 1px solid #2812ec;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .slim {
    min-height: 240px;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 77px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 57px;
  }
  .slim .title {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }
  .slim .wrapper {
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial";
    text-align: left;
    width: 377px;
    height: 96px;
    margin-bottom: 52px;
  }
  .slim .catBlack {
    margin-bottom: 24px;
  }
  .slim .catBlack .background-cat1 {
    display: block;
    position: absolute;
    width: 200px;
    height: 211px;
    padding-right: 28px;
    right: 62px;
    top: 1035px;
    z-index: 1;
    background: url(/source/img/cat_back1_tablet.svg) no-repeat;
  }
  .slim .catBlack img {
    display: none;
  }
  .slim .link {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1260px) {
  .slim {
    max-width: 570px;
    max-height: 374px;
  }
  .slim .catBlack .background-cat1 {
    opacity: 0;
  }
}
.pro {
  color: #444444;
  font-family: "Arial";
  padding: 20px;
  margin: 20px 0;
  margin-right: 20px;
  min-height: 230px;
  background-color: #F2F2F2;
  outline: 1px solid #ecde12;
  outline: 1px solid #ecb212;
  outline-offset: -1px;
}
.pro .title {
  font-size: 24px;
  line-height: 37px;
  padding-left: 20px;
  padding-top: 7px;
  color: #000000;
  font-family: "Oswald";
  text-transform: uppercase;
}
.pro .link {
  display: flex;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  font-family: "Oswald";
  text-transform: uppercase;
}
.pro .link a {
  padding-right: 15px;
}
.pro .catBlack {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
  outline: 1px solid #2812ec;
  outline-offset: -1px;
}
.pro .wrapper {
  min-height: 96px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 20px;
  font-family: "Arial";
  outline: 1px solid #2812ec;
  outline-offset: -1px;
}
@media (min-width: 748px) {
  .pro {
    min-height: 240px;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 77px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 57px;
  }
  .pro .title {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }
  .pro .wrapper {
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial";
    text-align: left;
    width: 377px;
    height: 96px;
    margin-bottom: 52px;
  }
  .pro .catBlack {
    margin-bottom: 24px;
  }
  .pro .catBlack .background-cat1 {
    display: block;
    position: absolute;
    width: 200px;
    height: 211px;
    padding-right: 28px;
    right: 62px;
    top: 1035px;
    z-index: 1;
    background: url(/source/img/cat_back1_tablet.svg) no-repeat;
  }
  .pro .catBlack img {
    display: none;
  }
  .pro .link {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1260px) {
  .pro {
    max-width: 570px;
    max-height: 374px;
  }
  .pro .catBlack .background-cat1 {
    opacity: 0;
  }
}
@media (min-width: 748px) {
  .pro .wrapper {
    width: 342px;
  }
  .pro .catBlack .background-cat2 {
    display: block;
    position: absolute;
    width: 268px;
    height: 200px;
    padding-right: 28px;
    right: 28px;
    top: 1450px;
    background: url(/source/img/cat_back2_tablet.svg) no-repeat;
  }
  .pro .catBlack img {
    display: none;
  }
}
@media (min-width: 1260px) {
  .pro {
    max-width: 570px;
    max-height: 374px;
  }
  .pro .catBlack .background-cat2 {
    opacity: 0;
  }
}
.advantages {
  color: #444444;
}
.advantages .title {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-family: "Oswald";
}
.advantages {
  color: #444444;
  font-family: "Arial";
}
.advantages .title {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-family: "Oswald";
}
.example {
  color: #444444;
  font-family: "Arial";
}
.example .title {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-family: "Oswald";
}
.example span {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-family: "Oswald";
}
.example .little-text {
  font-size: 12px;
  line-height: 12px;
}
.example .prise {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-family: "Oswald";
  text-transform: uppercase;
}
.example .slider {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-family: "Oswald";
  text-transform: uppercase;
}
.contacts {
  color: #444444;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial";
}
.contacts .invite {
  font-size: 16px;
  line-height: 18px;
  color: #111111;
  font-family: "Oswald";
  text-transform: uppercase;
}
.footer {
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  font-family: "Arial";
}
.catalog {
  color: #444444;
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
}
.catalog .title {
  color: #000000;
  font-family: "Oswald";
  font-size: 36px;
  line-height: 36px;
}
.catalog .info1 {
  color: #222222;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.catalog .text {
  color: #222222;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.catalog .more-button {
  color: #444444;
  background-color: #f2f2f2;
}
.catalog-add .title {
  color: #000000;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
}
.catalog-add .product {
  color: #222222;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.catalog-add .text {
  color: #444444;
  font-family: "Arial";
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
}
.catalog-add .gift-text {
  color: #ffffff;
  font-family: "Arial";
  font-size: 16px;
  line-height: 20px;
}
.form {
  font-size: 16px;
  font-weight: 18px;
  color: #444444;
  font-family: "Oswald";
  text-transform: uppercase;
}
.form .program {
  color: #000000;
  font-size: 14px;
}
.form .title {
  font-size: 36px;
  font-weight: 36px;
  text-transform: none;
}
.form .data-kat input {
  font-size: 16px;
  font-weight: 18px;
  color: #444444;
  font-family: "Oswald";
  text-transform: uppercase;
}
.form .radio-button input {
  color: #222222;
}
.form .title-text {
  font-size: 24px;
  font-weight: 26px;
  color: #000000;
  text-transform: none;
}
.form .data-owner input,
.form .comment input {
  font-size: 16px;
  font-weight: 18px;
  color: #444444;
  font-family: "Oswald";
  text-transform: uppercase;
}
.form .add {
  color: #000000;
}
.form .add .field {
  font-size: 14px;
  font-weight: 16px;
  color: #000000;
  font-family: "Arial";
  text-transform: none;
}
body {
  margin: 0;
  padding: 12px 0 0 20px;
  width: auto;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  min-width: 320px;
  background-color: #abc0a5;
}
@media (min-width: 748px) {
  body {
    padding: 30px;
  }
}
@media (min-width: 1260px) {
  body {
    padding-top: 50px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.visually-hidden {
  display: none;
}
a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
}
li {
  list-style: none;
}
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.button {
  font-size: 16px;
  font-weight: 16px;
  color: #ffffff;
  font-family: "Oswald";
  text-transform: uppercase;
  background-color: #5EAA2F;
  width: 280px;
  height: 40px;
  text-align: center;
  margin: 0 20px;
  padding: 0;
  border: none;
}

/*# sourceMappingURL=style.css.map */
